$primarycolor: #007fff;

.form-check {
  input.form-control,
  input.form-control:focus {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid $primarycolor;
    padding: 0px;
    box-shadow: none;
    color: black;
    transition: all 0.2s ease-in;
    &:focus {
      border-bottom: 2.5px solid $primarycolor;
    }
    &::after {
      content: attr(data-text);
      position: absolute;
      bottom: 2px;
      color: black;
      z-index: -1;
      left: 0px;
    }
  }
}
