$font: "Andika New Basic", sans-serif;
$primarycolor: #007fff;
$borderColor: rgb(9, 177, 255);
$bgColor: rgb(31, 35, 41);
$featureCard: black;
$textColor: white;
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

* {
  font-family: $font;
}

.bg-darkColor {
  background: $bgColor;
  background-color: $bgColor;
}

.navbar-custom {
  border-top: 4px solid $borderColor;
  background-color: transparent !important;
}

.bg-auth {
  height: 90vh;
  background: $bgColor;
  overflow-y: scroll;
}

.footer {
  height: 10vh;
  background: $bgColor;
}

.title {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./svg.png");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-card {
  background-color: $featureCard;
  border: 2px solid $borderColor;
  width: 260px;
  svg {
    color: $borderColor;
    // height: 2rem;
    font-size: 1.5rem;
  }
  p {
    display: inline-block;
    margin-bottom: 0px;
    color: $textColor;
    margin-left: 1rem;
  }
}

button:focus {
  outline: none;
}

.bg-dashboard {
  min-height: 100vh;
  background: $bgColor;
  overflow-y: auto;
}

.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  border: none;
  box-shadow: $shadow;
  background-color: $textColor;
  width: 100%;
}
.editor-container {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1rem;
    margin: 1rem;
    box-shadow: $shadow;
    background-color: $textColor;
  }
}

@media only screen and (max-width: 8.5in) {
  .editor-container .ql-editor {
    width: 95%;
  }
  .editor-container {
    display: block;
  }
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }
  .editor-container .ql-editor {
    width: 9.5in;
    // height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .editor-container .ql-toolbar,
  .MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    display: none;
  }
}

.ql-snow .ql-editor code,
.ql-snow .ql-editor pre {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace !important;
  font-size: 16px;
}

// .ql-snow.ql-picker {
//   color: $textColor !important;
// }
