$font: "Andika New Basic", sans-serif;
$primarycolor: #007fff;
$borderColor: rgb(9, 177, 255);
$bgColor: rgb(31, 35, 41);
$featureCard: black;
$textColor: white;
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

* {
  font-family: $font;
}

.bg-darkColor {
  background: $bgColor;
  background-color: $bgColor !important;
}

.navbar-custom {
  border-top: 4px solid $borderColor;
  background-color: transparent !important;
}

.bg-auth {
  height: 90vh;
  background: $bgColor;
  overflow-y: scroll;
}

.footer {
  height: 10vh;
  background: $bgColor;
}

.title {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./svg.png");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-card {
  background-color: $featureCard;
  border: 2px solid $borderColor;
  min-width: 260px;
  svg {
    color: $borderColor;
    // height: 2rem;
    font-size: 1.5rem;
  }
  p {
    display: inline-block;
    margin-bottom: 0px;
    color: $textColor;
    margin-left: 1rem;
  }
}

button:focus {
  outline: none;
}

.bg-dashboard {
  min-height: 100vh;
  background: $bgColor;
  overflow-y: auto;
}

.se-wrapper-inner {
  width: 8.5in !important;
  min-height: 11in !important;
  padding: 1rem !important;
  box-shadow: $shadow !important;
  background-color: $textColor;
  margin: 1rem auto !important;
}
.se-toolbar {
  background-color: $textColor !important;
  box-shadow: $shadow;
}

.se-container {
  background-color: rgba(0, 0, 0, 0.1);
}
